.recordingContent {
    display: flex;
    margin-left: 5vw;
    margin-top: 3vw;
}

.recordingContent div {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2vw;
    width: 5vw;
    text-align: center;
}

.recording {
    background: red;
    color: white;
}

.play {
    color: rgb(211,211,211);
}

#play, #record {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* 
save to uprightDB.db

// When recording
// Toggle the cursor to be a red dot
// run the record mouse movemonet function


// hook up DB
// pressing record button again saves it to the DB

// When there is a recording
// fade out the record button 
// pressing play retrieves and replays the recording that was saved
// pressing delete deletes the recording from teh db


// Delete Button
removes the recording from the db

 */

